.category-header-text {
    width:90dvw;
    font-size: 2rem;
    margin:1rem auto;
    color:#042789;
    padding:1rem;
    text-align: center;
}

.category-detailed-section {
    width:90dvw;
    margin:1rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    padding:1rem;
}

.products-container {
    width:70%;
    display: flex;
    flex-direction: column;
    background-color:rgb(246, 250, 250);
    border-radius: 1rem;
}

.category-detailed-description {
    max-width:30%;
    text-align: center;
    font-size: 1.3rem;
    padding:0.5rem;
}

.products-focused-image {
    display:flex;
    flex-direction: row;
    width:100%;
    height:70vh;
    overflow:hidden;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

@media(min-height:900px){
    .products-focused-image{
        height:60vh;
    }
}

@media(min-height:1100px){
    .products-focused-image{
        height:50vh;
    }
}

@media(min-height:1300px){
    .products-focused-image{
        height:40vh;
    }
}

.products-focused-image img {
    max-width:70%;
    object-fit: cover;
    border-radius: 2rem;
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2);
    margin-left: 10%;
}

.products-focused-image img:hover {
    cursor: zoom-in;
    opacity: 0.7;
}

.products-focused-image p {
    max-width:20%;
    padding:0.5rem;
    font-size: 1rem;
    text-align: center;
    align-self: flex-end;
    margin-left: auto;
}

.position-mg {
    align-self: flex-start;
    padding:0.5rem;
    margin-left:0.5rem;
    font-size: 2rem;
    color:#042789;
    background: transparent;
}

.position-mg:hover {
    cursor:pointer;
    color:orange;
}

@media (max-width:600px) {

    .category-detailed-section {
        width:100dvw;
    }

    .products-container{
        width:100%;
    }

    .category-detailed-description {
        max-width: none;
        width:100%;
        padding-bottom: 1.5rem;
    }

    .products-focused-image {
        max-height: 50vh;
    }

    .products-focused-image p {
        max-width: 30%;
    }
}

@media (min-aspect-ratio: 16/9 ){
    .products-focused-image {
        max-height: 80vh;
    }

    .products-focused-image img {
        max-width:60%;
    }

    .products-focused-image p {
        max-width: 40%;
    }
}

.arrow {
    width:10%;
    height:fit-content;
    margin:auto;
    color:#042789;
    background-color: transparent;
    font-size: 2rem;
}

.arrow:hover {
    color:orange;
}

.arrow:disabled{
    color:lightgray;
    cursor:default;
}

.images-slideshow {
    padding-top:1rem;
    display:flex;
    flex-direction: row;
    width:100%;
}

.imageSlideContainer {
    width:80%;
    overflow:hidden;
}

.imageSlideWrapper {
    width:100%;
    display:flex;
}

.slideImage {
    width:20%;
    object-fit: cover;
    padding:0.2rem;
    cursor:pointer;
    flex-shrink: 0;
}

.active-slideShow-image {
    opacity:0.6;
    cursor: default !important;
}

/*WHEN AN IMAGE IS CLICKED*/

.modal-container {
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display:none;
    z-index: 100;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

.image-details-show {
    display:block;
    max-width:80dvw;
    max-height: 95dvh;
    object-fit:contain;
    transition: opacity 0.2s ease;
    opacity: 1;
    border-radius: 3rem;
    box-shadow: 0px 0.5rem 1rem rgba(255, 229, 207, 0.1);
    cursor:zoom-in;
}

@media (max-aspect-ratio: 1.4){
    .image-details-show {

    }
}

.handleContainer {
    display:none;
}

.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(39, 25, 1 , 1);
    z-index: 10;
}

.close-button {
    position:fixed;
    top: 0;
    right:1rem;
    z-index: 100;
    color: white;
    font-weight: bold;
    font-size: 4rem;
    padding:0.2rem;
    line-height: 1;
}

.close-button:hover,
.close-button:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.prevArrowFocused, .nextArrowFocused {
  position: fixed;
  top:50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 0.5rem;
  color: white;
  background-color: transparent;
  font-weight: bold;
  font-size: 2.5rem;
  transition: 0.6s ease;
  z-index: 100;
  max-width: 10dvw;
}

.prevArrowFocused {
    left:1%;
}

.nextArrowFocused {
    right:1%;
}

.prevArrowFocused:hover, .nextArrowFocused:hover {
  cursor: pointer;
  color: orange;
}

@media (hover: none) {
    .prevArrowFocused:hover, .nextArrowFocused:hover {
        color: white;
    }
}