.header-reveal {
    display:none;
    width:100%;
    min-height:30%;
    z-index: 100;
    flex-direction: column;
    background: radial-gradient(circle, #4c5c86, #27418a);
    opacity: 0;
}

.header-section-intro {
    width: 100%;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.fa {
    align-content: center;
}

.header-main-item {
    font-size: 1.4rem;
}

.reveal-after {
    display:flex;
    animation: revealAfter 1s ease-in forwards;
}

@keyframes revealAfter {
    from {
      opacity:0;
    }
    to {
        opacity:1;
    }
  }

/*
.reveal-after-button {
    display:block;
    opacity:1;
    transition: opacity 0.8s ease-in-out; 
} 
*/

.enter-button {

    margin:3rem auto;
    width:fit-content;
    height:auto;
    font-size:1.2rem;/*18px*/
    font-weight:600;
    background-color: white;
    color:#042789;
    text-align:center;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding:0.5rem;
    border-radius: 2rem;
}

.enter-button:hover {
    color: black;
    background: linear-gradient(to right, #b8d1ff, #ffcc80);

}

.images-grid {
    display: grid;
    width:100dvw;
    gap:0.5rem;
    padding:0.7rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.img-container2 {
    width:100%;
    height:100%;
    overflow: hidden;
}

.to-reveal {
    will-change: opacity;
    width:100%;
    aspect-ratio: 2/3;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.image-visible {
    opacity:1;
}

@media(min-width:900px){
    .images-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
    } 
}