.main-page-intro {
    display:flex;
    flex-direction: row;
    width:95%;
    padding:1rem;
    margin:1rem auto;
    border-radius: 1rem;
    flex-wrap: wrap;
}

.services-text {
    display:flex;
    flex-direction: column;
    width:50%;
    padding:0rem 2rem;
    align-items: center;
    justify-content: center;
    border-radius:1rem;
}

.services-text h1 {
    color:#46371d;
    text-align: center;
}

.services-text p {
    overflow-wrap: anywhere;
    text-align: center;
    font-size: large;
}

.hidden-back-images {
    display: none;
    background-image: url('../images/candles1.webp'), url('../images/candles2.webm'), url('../images/candles3.webm'), url('../images/candles4.webm');
}

.about-us-container {
    width:50%;
    height:auto;
    overflow:hidden;
    border-radius: 2rem;
    position: relative;
}

.background-image-container{
    position: absolute;
    width:100%;
    height:100%;
    background-position: center;
    background-size: cover;
    background-image: url("../images/a.jpg");
    transition: background-image 0.5s ease-in-out , transform 3.5s ease-in-out;
    opacity: 0.7;
    z-index: -1;
    will-change:background-image;
}

.image-content {
    position:absolute;
    bottom:0;
    right:0;
    display:flex;
    flex-direction: column;
    padding:0.2rem;
    align-items: flex-end;
    font-family: "Verdana", sans-serif;
}

.image-content-entry {
    padding:0.3rem;
    display:flex;
    padding:0.5rem;
    border-radius: 0.8rem;
    align-items: center;
    color:#46371d;
}

.image-content-entry h3 {
    margin:0 0.5rem 0 0;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
}

.fa-check-circle{
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

.about-button {
    padding: 0.3rem;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    white-space: nowrap;
    color:#46371d;
    font-weight: 600;
    align-self: flex-start;
}

.about-button:hover{
    color:black;
}

@media(max-width:800px){

    .services-text {
        width:100%;
        margin: auto;
        padding:0;
    }

    .about-us-container {
        width:100%;
        height:40vh;
        margin: 3rem auto 3rem auto;
    }
}

@media (max-width:800px) and (max-height:500px){
    .about-us-container {
        height:60vh;
    }
}

.video-container{
    width:25%;
    position: relative;
}

.main-page-video {
    width: 100%;
    aspect-ratio: var(--categories-image-aspect-ratio);
    object-fit: cover;
    border-radius: 2rem;
    box-shadow: 0px 1rem 2rem rgba(65, 46, 30, 0.2);
    opacity:0.8;
}

.main-page-video:hover{
    cursor:pointer;
}

.play-button {
    display: block;
    position:absolute;
    right:50%;
    top:50%;
    transform: translate(50%, -50%);
    background: transparent;
    color:rgb(11, 11, 34);
    padding:0.3rem;
    font-size:3rem;
}

.play-button:hover {
    font-size:3.5rem;
}

.categories-section {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    width:95dvw;
    margin-left:auto;
    margin-right:auto;
    column-gap:2.7dvw;
    row-gap: 2.5dvw;
    padding: 2.7dvw;
}

.category-description {
    opacity:0;
    display:flex;
    flex-direction: row;
    align-items: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s , opacity 0.5s ease-in-out;
    width:100%;
    max-height: 100dvh;
    aspect-ratio: calc(2 * var(--categories-image-aspect-ratio));
}

.category-description:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);

    h2 {
        color:#042789;
    }

    p {
        color:#1f1f1f;
    }
}

.category-description img{
    width:50%;
    height:100%;
    object-fit: cover;
    border-radius: 2rem;
    box-shadow: 0px 1rem 2rem rgba(65, 46, 30, 0.2);
}

.category-text-description {
    width:50%;
    height:100%;
    padding:0.8dvw;
    display:flex;
    flex-direction: column;
    overflow: auto;
    margin-top: auto;
}

.category-text-description h2 {
    font-size: 1.9rem;
    padding:1.5%;
    color: #46371d;
    text-align: center;
    margin-top:auto;
}

.category-text-description p {
    word-break: break-all;
    text-align: center;
    hyphens:auto;
    margin-bottom:auto;
    font-size: 1.3rem;
}

@media(max-width:800px) {

    .categories-section {
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: 1fr;
        row-gap: 6dvw;
    }

    .category-description{
        aspect-ratio: calc(1.67 * var(--categories-image-aspect-ratio));
    }

    .category-description img{
        width:60%;
    }

    .category-text-description{
        width:40%;
        padding:1rem;
    }

    .category-text-description h2{
        font-size: 1.5rem;
    }

    .category-text-description p{
        font-size: 1.3rem;
    }
}

@media (max-width:800px) and (max-height:400px) {
    .category-description{
        aspect-ratio: calc(2.86 * var(--categories-image-aspect-ratio));
    }

    .category-description img{
        width:35%;
    }

    .category-text-description{
        width:65%;
        padding:1rem;
    }

}

.carousel-container {
    display:flex;
    width:100vw;
    max-height:70vh;
}

.carousel-inner {
    overflow:hidden;
    width:100%;
}

.carousel-container img {
    width:100%;
    aspect-ratio: 1.5;
    object-fit: cover;
    overflow: hidden;
    object-position: center;
}

.carousel-indicators > .indicator-styling {
    cursor:pointer;
}

.choose-us {
    display:flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: flex-start;
}

.choose-us div {
    padding:1rem;
}

.choose-us span {
    text-align: center;
    padding:0.4rem;
    color:#042789;
    font-size: 1.5rem;
}

.choose-us img {
    width:1.5rem;
    height: 1.5rem;
    object-fit: contain;
}

.choose-us-text {
    padding:0.5rem;
    padding-right:1rem;
    text-align: center;
    overflow-wrap: anywhere;

}

@media(max-width:800px) {
    .small-outro-video {
        width:50%;
    }

    .choose-us {
        align-items: flex-start;
    }

    .choose-us span {
        font-size: 1.1rem;
    } 
}

.text-paragraph p {
    width:100%;
    word-wrap:break-word;
    text-wrap: wrap;
}